.top{
  background-image: url("../IP3/assets/backgrounds/h_img.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}
.mini-top{
  padding-top: 265px;
  padding-bottom: 255px;
}
h6{
  font-size: 12px;
}
.tiny-top{
  padding-bottom: 30px;
}
.about{
  color: black;
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
  padding-bottom: 30px;
}
h3{
  font-size: 22px;
}
.services{
  background-image: url("../IP3/assets/backgrounds/s_image.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}
.mini-services{
  padding-top: 120px;
}