.top{
  background-image: url("../Img/h_img.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}
.mini-top{
  padding-top: 265px;
  padding-bottom: 255px;
}
h6{
  font-size: 12px;
}
.tiny-top{
  padding-bottom: 30px;
}
.about{
  color: black;
  text-align: center;
  padding-top: 30px;
  font-size: 12px;
  padding-bottom: 30px;
}
h3{
  font-size: 22px;
}
.services{
  background-image: url("../Img/s_image.jpg");
  background-size: cover;
  text-align: center;
  color: white;
}
.mini-services{
  padding-top: 120px;
  padding-bottom: 120px;
}
.what{
  text-align: center;
  padding-top: 50px;
}
.container-fluid{
  padding-top: 25px;
}
.portfolio{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.row{
  padding-top: 10px;
  text-align: center;
}
.contact{
  background-image: url("../Img/c_image.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 60px;
  padding-bottom: 120px;
  overflow: hidden;
}
.icon{
  padding-top: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.form{
  color: white;
}
.work1, .work2, .work3, .work4, .work5, .work6, .work7, .work8{
  display: none;
  background-color: rgb(192, 171, 192);
  position: absolute;
  text-align: center;
  top: 0px;
  left: 15px;
  bottom: 0px;
  font-weight: bold;
  color: black;
  font-size: 30px;
  height: 100%;
  width: 96%;
  padding-right: 10px;
}
